body {
    background-image: url('../images/backgrounddonuts.jpg');
    background-size: cover;
    background-position: cover;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    display: flex;
}

div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h1 {
    font-family: 'Bangers', cursive;
}

button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.game-board {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    perspective: 1000px;
}

.card-container {
    width: 120px;
    height: 180px;
    margin: 25px;
    border-radius: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card-container.flip {
    transform: rotateY(180deg);
  }

.front-card, 
.back-card {
    width: 120px;
    height: 180px;
    margin: 25px;
    border-radius: 5px;
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0,0,0,.6);
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
    -moz-transform-origin: 35px;
    -ms-transform-origin: 35px;
    -o-transform-origin: 35px;
    -webkit-transform-origin: 35px;
    transform-origin: 35px;
}